body {
    background-color: #dff5df;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: green;
}

p {
    font-size: 18px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkgreen;
}

#mensagem {
    margin-top: 20px;
    color: blue;
    font-weight: bold;
}
